p {
    color: blue; 
}

@import 'other.css';

body {
	background: whitesmoke;
}

i {
	font-family: 'Scrimbacon';
}

.box {
	width: 200px;
	height: 120px;
	background-size: cover;
}

.flexbox {
	background-image: url(img/gflexbox.png);
}

/* add custom font-face */
@font-face {
    font-family: 'Scrimbacon';
    src: 
    	url('fonts/scrimbacon.woff2') format('woff2'),
        url('fonts/scrimbacon.woff') format('woff'),
        url('fonts/scrimbacon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}